.icon-dashboard {
    background-image: url('../../Resource/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../Resource/icon/report.png');
}

.icon-dic-employee {
    background-image: url('../../Resource/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../Resource/icon/setting.png');
}

.icon-avatar {
    background-image: url('../../Resource/icon/avatar-default.png');
}

.icon-3dots {
    background-image: url('../../Resource/icon/option.png');
}